/* CSS Variables */
:root {
  --dark: #000000;
  --grey: #d8d8d8;
  --light: #f2f2f2;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-weight: normal;
}

.header {
  height: 90px;
  padding: 0 50px;
}

.page_header {
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background: var(--grey);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nav {
  display: flex;
}

.header_nav {
  float: right;
}

.nav_item {
  background: var(--grey);
  margin: 0 20px;
  height: 31px;
  width: 134px;
}

.nav_item:last-child {
  margin-right: 0;
}

/*----------------------------------------------------*/

/* .banner{

} */

.page_banner {
  padding: 12rem 13rem;
  background: var(--grey);
}

.banner_title {
  font-size: 6rem;
  line-height: 76px;
}

.banner_subtitle {
  font-size: 3.6rem;
  line-height: 46px;
}

.banner_btns {
  margin-top: 3rem;
}

.btn {
  border: none;
  font-size: 2.6rem;
  text-align: center;
  padding: 1.5rem 7rem;
  line-height: 3.3rem;
}

.btn:first-child {
  margin-right: 2.5rem;
}

.btn-white {
  background: var(--white);
}

.btn-black {
  background: var(--dark);
  color: var(--white);
}
/*--------------------ARTICLE ROW--------------------------------------------------*/

.articles {
  padding: 8rem 11rem;
  font-size: 30px;
}

.page_articles-row {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.article {
  max-width: 38rem;
  margin: 0 2rem;
}

.img {
  background: var(--grey);
  height: 24rem;
  max-width: 38rem;
  margin-bottom: 3rem;
}

.article_content {
  min-width: 37rem;
}

.article_header {
  font-size: 3rem;
  line-height: 38px;
}

.article_text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.article_text-footer {
  color: #787878;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  margin-top: 4rem;
}

/*----------FORM----------------------------------------------------------------*/
.form {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  height: 40rem;
  padding: 13rem;
}

.form_title {
  text-align: center;
  font-size: 3.5rem;
  line-height: 47px;
}

.form_inputs {
  margin-top: 3rem;
}

.form_input {
  font-size: 2.6rem;
  border: none;
  line-height: 33px;
  padding: 1.5rem 20rem 1.5rem 2rem;
}

/*-----------ARTICLES COL----------------------------------------------------------------*/
.page_cards{
  padding: 8rem 12.5rem;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-items: center;
}

.cards_card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-bottom: 6rem;
}

.card_content{
  max-width: 58rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 6rem 0 0;
}

.content-right{
  text-align: right;
}
.content-left{
  text-align: left;
  align-items: flex-start;
  padding: 0 0 0 6rem;
}

.img-big{
  background: var(--grey);
  max-width: 58.8rem;
  height: 38.6rem;
  margin: 0;
}

/*----------------------FOOTER----------------------------------------------------------------------------*/
.footer{
  height: 41rem;
  background:var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 9.7rem 22.2rem;
}

.footer_info{
 display: flex;
 flex-direction: column;
 align-items:center;
 justify-items: center;
 border-bottom: 2px var(--white) solid;
 padding: 0 13rem 3rem;
}

.footer_logo{
  background: var(--white);
  margin-bottom: 3rem;
}

.footer_nav .nav_item{
  background: var(--white);
  margin: 0 4rem 0 0;
}

.nav_item:last-child{
  margin: 0;
}

.footer_socials{
  padding: 5rem 6.05rem 10rem;
}

.socials_icon{
  margin: 0 2.5rem;
}