@media (min-device-width: 768px){
  .show-case {
    background: url(./imgs/bg_big.png) no-repeat 100%;
  }
  
  /*------------------------------------HEADER----------------------------*/
  header{
    grid-template-columns: 1fr 3fr;
  }

  header nav{
    font-size: 1.8rem;
  }

  header nav img {
      height: 3.5rem;
  }

  header .search input {
    font-size: 1.4rem;
    max-width: 100%;
  }

  .search label img  {
    height: 2rem;
    margin-left: 4rem;
  }

  header nav input{
    width: 4rem;
    height: 4rem;
    background-size: 100%;
  }
  /*------------------------------------HEADER----------------------------*/
}
